.corpo_catalogo{
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background_catalogo{
    width: 100%;
    position: absolute;
}

.container_items{
    width: 90vw;
    height: 60vh;
    margin-top: 35vh;
    display:flex;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: flex-start;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    z-index: 5;
}

.modal_button{
    background-color: transparent;
    outline: none;
    border-style: none;
    width: 200px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
}

.titulo_catalogo{
    position: absolute;
    top: 14vh;
    font-family: FuturaBold;
    color: rgb(255, 255, 255);
    font-size: 10rem;
    z-index: 10;
}

.divisoria_catalogo{
    width: 100%;
    height: 20vh;
    position: absolute;
    z-index: 1;
    top: 0;
}

.corpo_item_catalogo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto_item_catalogo{
    width: 80%;
    transition:.3s;
}

.foto_item_catalogo:hover{
    width: 90%;
}

.titulo_item_catalogo{
    font-family: FORQUE;
    font-size: 4rem;
    margin-top: 1.5rem;
    color: white;
}

@media (max-width: 420px){

    .titulo_catalogo{
        margin-top: 6vh;
        font-size: 5rem;
    }

    .background_catalogo{
        width: 300vw;
    }
    
    .container_items{
        width: 100%;
        height: 70%;
        margin-top: 60%;
        justify-content: center;
    }

    .modal_button{
        width: 45%;
    }

    .titulo_item_catalogo{
        font-size:3rem ;
    }

}