.corpo_item_catalogo{
    width: 100%;
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
    background-color: white;
}

.foto_teste{
    width: 20px;
    height: 20px;
    background-color: aqua;
    z-index: 10;
}

.titulo_item_catalogo{
    font-family: FORQUE;
    font-size: 4rem;
    margin-top: 2rem;
    color: white;
    transition: .2s;
}


@media (max-width: 420px){
    .corpo_item_catalogo{
        width: 14rem;
        height: 18rem;
    }

    .titulo_item_catalogo{
        font-size: 2.5rem;
    }

    .foto_item_catalogo{
        width: 12rem;
    }
    
    .foto_item_catalogo:active{
        width: 13rem;
    }
    
    .foto_item_catalogo:hover{
        width: 13rem;
    }
}