.corpo_item_catalogo{
    width: 30rem;
    height: 28rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
}

.foto_item_catalogo{
    width: 200px;
    transition: 0.3s;
}

.foto_item_catalogo:hover{
    width: 220px;
}

.titulo_item_catalogo{
    font-family: FORQUE;
    font-size: 4rem;
    margin-top: 2rem;
    color: white;
    transition: .2s;
}


@media (max-width: 420px){
    .corpo_item_catalogo{
        width: 14rem;
        height: 18rem;
    }

    .titulo_item_catalogo{
        font-size: 2.5rem;
    }

    .foto_item_catalogo{
        width: 12rem;
    }
    
    .foto_item_catalogo:active{
        width: 13rem;
    }
    
    .foto_item_catalogo:hover{
        width: 13rem;
    }
}