html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'FORQUE';
  src: url('../src/fonts/Forque.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: url('../src/fonts/futura.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaBold';
  src: url('../src/fonts/futuraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaItalic';
  src: url('../src/fonts/futuraItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaItalicBold';
  src: url('../src/fonts/futuraItalicBold.ttf') format('truetype');
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  background-color: black;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
}

@keyframes moveUp {
  0% {
    margin-top: 8%;
  }
  50% {
    margin-top: 5%;
  }
  100% {
      margin-top: 8%;
  }
}